<section class="bg-gray-50">
  <div class="mx-auto max-w-3xl px-6 py-16 text-center lg:px-8">
    <figure class="">
      <blockquote class="text-2xl font-medium text-gray-900">“<%= quote %>”</blockquote>
      <figcaption class="mt-6 text-sm text-gray-600">
        <span class="font-semibold text-gray-900"><%= author_name %></span> — <%= author_title %>
      </figcaption>
    </figure>
  </div>
</section>


